
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>URL Shortener</title>
</head>

<body>
  <h1>URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" />
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}} 
</body>

</html>